@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('Kitagawa.png'); 
    background-size: cover;
    background-size: 115%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.intro-tela {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: #590d22;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: opacity 1s ease-in-out; 
}

.hidden {
    opacity: 0; 
    pointer-events: none; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.intro-container {
    text-align: center;
    height: 60%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
}

.intro-container:hover {
    transform: scale(1.04); 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); 
}
.intro-titulo {
    font-size: 2.5em;
    color: #9a8c98;
    margin-bottom: 20px;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.intro-titulo:hover {
    transform: scale(1.04); 
    color: #c9184a; 
}
.discord-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #c9184a;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.discord-btn:hover {
    background-color: #a11037;
    transform: scale(1.02);
}
.discord-widget {
    display: flex;
    transition: transform 0.3s ease, color 0.3s ease;
}
.discord-widget:hover {
    transform: scale(1.02);
}

.discord-widget iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .intro-container {
        padding: 30px;
        max-width: 90%;
    }

    .intro-titulo {
        font-size: 2em;
    }

    .discord-btn {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .intro-container {
        padding: 20px;
    }

    .intro-titulo {
        font-size: 1.8em;
    }

    .discord-btn {
        font-size: 0.9em;
    }
}
